/* LIGHT CSS */
/* DEVA Colours */
:root {
  --Light: #E5E7E6;
  --Dark: #101011;
  --MatteBlack: #171717;
  --Yellow:#CEFF1A ;
  --Blue: #B8F2E6;
  --Purple: #3D0F71;
  --Pink: #CE5374 ;
  --Green: #00A896;
  --BkgColour:var(--MatteBlack);
  --TextColour:var(--Light);
  --PrimaryColour:var(--Green);
  --SecondaryColour:var(--Yellow);
  --ButtonColour:var(--PrimaryColour);
  --ButtonText:var(--MatteBlack);
  --FontFamily:'Montserrat Alternates', sans-serif;
  --ShadowColour:rgb(216, 245, 245);
  --ShadowColourSelected: rgb(102, 102, 102);
  }
  
  .spectrum-background {
    background:
        linear-gradient(red, transparent),
        linear-gradient(to top left, lime, transparent),
        linear-gradient(to top right, blue, transparent);
    background-blend-mode: screen;
}

  /* CSS RESETS
  https://piccalil.li/blog/a-modern-css-reset/
  */
  
  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* Remove default margin */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'] {
    list-style: none;
  }
  
  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }
  
  /* Set core body defaults */
  body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.25;
    background:
    linear-gradient(#000505 , transparent),
    linear-gradient(to top left, var(--Dark), transparent),
    linear-gradient(to top right, var(--MatteBlack), transparent);
background-blend-mode: screen;

  }
  
  /* Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }
  
  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  /*
  === STYLES ===
  */
  @media (max-width:630px) {
    .centerThis {
      width: 100%; 
    }
  }
  
  @media (min-width:630px) {
    .centerThis {
      width: 100%;
  
    }
  }
  body {
    background-color: var(--BkgColour);
    color: var(--TextColour);
    font-family: var(--FontFamily);
  }

  header {
    color: var(--PrimaryColour);
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  h1 {margin: 50px auto;
  font-size: 3.5em;}
  h2 {font-size: 3em;}
  h3 {font-weight:400;
  min-width: 80%;}
  

  input {
    width: 100%;
    margin: 10px;
    padding: 10px;
  }

  footer {
    padding: 30px;
    font-size: 0.8rem;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--Dark);
    color: var(--Light);
  }
  
  
button {
  border: 4px solid var(--SecondaryColour);
  color: var(--ButtonText);
  position: relative;
  margin: 2rem 3rem;
  padding: 1rem 2rem;
  font-size: 1.15rem;
  font-weight: 800;
  background-color: transparent;
  cursor: pointer;
  border-radius: 25px;
}

button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: -.6rem;
  top: -.5rem;
  z-index: -1;
  background-color: var(--ButtonColour);
  transition: all 200ms ease-out;
  border-radius: 25px;
}

button:hover::before {
  top: 0;
  left: 0;
}

select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color:var(--Light);
  background-image: linear-gradient(to top, #e5e5e5, var(--Light) 66%);
}
.button--bop:active {
  transform: translateY(3px);
}

  .app {
    display: flex;
    flex-direction: column;
  }

/* align 2 columns on a page */
  .flex-container {
    display: flex;
    flex-direction: row;
    padding: 50px;
}
.flex-container-column {
  display: flex;
  flex-direction: row;
  padding: 50px;
}

  .flex-child {
      flex: 1;
  }  

  .flex-child:first-child {
      margin-right: 20px;
  } 
  .playlists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  
  .playlist {
    min-height: 200px;
    background-size: 40px;
    background-color: var(--White);
    box-shadow: 5px 5px 15px var(--ShadowColour);
    border: 4px solid var(--Dark);
    padding: 15px;
    margin: 10px;
    width: 150px;
    list-style: none;
    border-radius: 10px;
    cursor: pointer;
  }
 .playlist:hover {
    background-color: var(--PrimaryColour);
    color:var(--MatteBlack);
  }
.playlistName {
  padding-top: 10px;
  font-weight: 800;
  color: var(--SecondaryColour);
}

  .selected {
    min-height: 200px;
    background-size: 40px;
    background-color: var(--White);
    box-shadow: 5px 5px 15px var(--ShadowColourSelected);
    border: 4px solid var(--SecondaryColour);
    padding: 15px;
    margin: 10px;
    width: 150px;
    list-style: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .tracks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .track {
    min-height: 50px;
    min-width: 550px;
    /* background-color: var(--PrimaryColour); */
    /* box-shadow: 5px 5px 15px var(--ShadowColour); */
    /* border: 4px solid var(--Dark); */
    padding: 20px;
    margin: 20px;
    width: 150px;
    list-style: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    font-size: 1.5em;
    
  }

 
  .centerThis {

    margin: 50 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
  }

  .centerThisColumn {
    margin: 50 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .alignLeft {
    display: flex;
    align-self: flex-start;
  }
  
  .container {
    margin: 50 auto;
    padding: 50 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: space-evenly;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 2rem 3rem 2rem 3rem; */
    margin: 0 auto;
    width: 50%;
  }
  
  .navbar { 
    width:100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--Dark);
  }
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
  }
  li {

    padding: 20px;
    margin: 20px;
    text-decoration:none
  }

  .navItem {
    /* border: 4px solid var(--Dark); */
    text-decoration: none;
    padding:20px;
    margin:20px;
    background-color: var(--SecondaryColour);
    color: var(--ButtonText);
    font-weight: 800;
    cursor: pointer;
    border-radius: 25px;
  }

  .player {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .nowPlaying {
    color: var(--SecondaryColour);
    font-size:2.5em;
  }
  .cassette {
    width: 50%;
    min-height: 100vh;
    background-image: url('images/Cassette-Awesome.png');
    background-size: 100%;
    opacity: 10%;
    background-repeat: no-repeat;
    background-position: top;
  }
  
  .gradient-pattern {
    animation: gradient 15s ease infinite;
    background-image: linear-gradient(135deg, #A82F4C, #6C195C, #50299D, #001892);
    background-size: 400% 400%;
  }
  
  @keyframes gradient {
    0% {
      background-position: 51% 0%;
    }
    50% {
      background-position: 50% 100%;
    }
    100% {
      background-position: 51% 0%;
    }
  }